@charset "UTF-8";
/*Tailles des polices*/
/*taille de police de base*/
/*taille des titres des cards*/
/*taille de police des titres*/
/*taille police présentation accueil, catégorie plat et nom plats*/
/*taille des icones arrowback,....*/
/*Couleurs des polices*/
/*couleur de police principale*/
/*couleur première de la charte graphique*/
/*couleur secondaire de la charte graphique*/
/*couleur tertiaire de la charte graphique*/
/*couleur de la police des boutons*/
/*couleur de la police des puces numérotées*/
/*couleur du texte du footer*/
/*couleur de police du check des menus*/
/*couleur de police des icones de la zone explicative*/
/*couleur du nom des restos dans les menus*/
/*Polices*/
/*Couleurs des background*/
/*couleur de fond*/
/*couleur de fond des cards*/
/*couleur du background*/
/*dégradé des boutons*/
/*border radius*/
/* angle des coins des boutons */
/* angles des coins des menus */
/* angles des coins des plats dans les menus */
/*Ombres*/
/*ombre des cards, listes page d'accueil...*/
/* Définition des animations de la page d'accueil*/
/* Animation du coeur des cards*/
@keyframes heart {
  0% {
    color: #9356dc;
    opacity: 20%;
  }
  100% {
    opacity: 100%;
    color: #ff79da;
  }
}
/* Animation du loader */
@keyframes loaderlogo {
  0% {
    transform: scaleY(1.1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1.1);
  }
}
@keyframes loader {
  0% {
    visibility: visible;
  }
  99% {
    opacity: 0.98;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes menucat {
  from {
    transform: translatey(20px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 18px;
  background-color: #f6f6f6;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 16.1px;
  letter-spacing: 0.8px;
}

article {
  padding: 53px 20px 45px 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  article {
    padding: 70px 35px 50px 35px;
  }
}
/* Mise en forme des cards */
.resto {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 15px #dddddd;
  position: relative;
  transition: transform 400ms;
}
.resto:hover {
  box-shadow: 0px 5px 15px #99e2d0;
  transform: scale(1.02);
}
.resto img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  object-position: left bottom;
}
.resto figure p {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #99e2d0;
  color: #278870;
  font-size: 14.4px;
  padding: 6px 11px;
  border-radius: 2px;
  letter-spacing: -0.5px;
}
.resto__descriptif {
  padding: 3.5% 8% 6% 3.5%;
  display: flex;
  justify-content: space-between;
}
.resto__descriptif p {
  font-size: 17.1px;
  color: #4d4d4d;
  letter-spacing: -0.5px;
  line-height: 14px;
}
.resto h2 {
  font-size: 17.6px;
  margin-bottom: 5px;
  letter-spacing: -0.1px;
}
.resto__heart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19.8px;
  cursor: pointer;
}
.resto__heart .fa-solid {
  display: none;
}
.resto__heart:active .fa-regular {
  display: none;
}
.resto__heart:active .fa-solid {
  display: block;
  animation: heart 1500ms forwards;
}

@media screen and (min-width: 992px) {
  .resto__heart:hover .fa-regular {
    display: none;
  }
  .resto__heart:hover .fa-solid {
    display: inline-block;
    animation: heart 1500ms forwards;
  }
}
/* les boutons principaux */
.button {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 15.3px;
  border: none;
  border-radius: 30px;
  padding: 15px 22px;
  cursor: pointer;
  filter: brightness(1);
  box-shadow: 0px 5px 15px #dddddd;
  transition: filter 400ms ease-in-out, transform 500ms;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 15px #9356dc;
  transform: scale(1.05);
}

/*Mise en forme du loader lors du chargement de la page*/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  visibility: hidden;
  animation: loader 2000ms;
}
.loader__image {
  position: fixed;
  top: 50%;
  z-index: 101;
  animation: loaderlogo 1000ms backwards;
}
.loader__image img {
  width: 100%;
}
.loader__image--2 {
  transform: scaleY(2);
  animation-delay: 100ms;
}
.loader__image--3 {
  transform: scaleY(3);
  animation-delay: 150ms;
}
.loader__image--4 {
  transform: scaleY(4);
  animation-delay: 200ms;
}
.loader__image--5 {
  transform: scaleY(5);
  animation-delay: 250ms;
}
.loader__image--6 {
  transform: scaleY(6);
  animation-delay: 300ms;
}
.loader__image--7 {
  transform: scaleY(7);
  animation-delay: 350ms;
}
.loader__image--8 {
  transform: scaleY(8);
  animation-delay: 400ms;
}
.loader__image--9 {
  transform: scaleY(9);
  animation-delay: 450ms;
}
.loader__image--10 {
  transform: scaleY(10);
  animation-delay: 500ms;
}
.loader__image--11 {
  transform: scaleY(11);
  animation-delay: 550ms;
}
.loader__image--12 {
  transform: scaleY(12);
  animation-delay: 600ms;
}
.loader__image--13 {
  transform: scaleY(13);
  animation-delay: 650ms;
}
.loader__logo {
  position: fixed;
  top: 50%;
  z-index: 102;
}
.loader__logo img {
  width: 100%;
}

/*Mise en forme flèche retour du header*/
.arrowback {
  position: absolute;
  font-size: 19.8px;
  left: 22px;
  padding-top: 3px;
}
.arrowback:hover {
  color: #9356dc;
}

/*Mise en forme du header*/
header {
  display: flex;
  justify-content: center;
  padding: 20px 25px 0 25px;
  height: 59px;
  background-color: white;
}
header img {
  width: 160px;
}

/*Mise en forme du footer*/
footer {
  background-color: #353535;
  padding: 14px 25px;
  color: white;
  font-size: 15.3px;
}
footer ul {
  list-style-type: none;
  margin: 20px 0px 20px 0px;
}
footer li {
  margin-bottom: 8px;
}
footer li a {
  color: white;
  transition: font-weight 400ms;
}
footer li a:hover {
  font-weight: bold;
}
footer li i {
  display: block;
  width: 20px;
  font-size: 13px;
}

/* Code responsive*/
@media screen and (min-width: 768px) {
  footer {
    display: flex;
  }
  footer h1 {
    margin-right: 5%;
  }
  footer ul {
    display: flex;
    width: 100%;
    margin: 10px 0px;
  }
  footer ul li {
    margin-right: 20px;
  }
}
/**** Mise en forme de la page d'accueil ****/
/*zone accueillant la zone de saisie pour la ville recherchée par l'utilisateur*/
.location {
  height: 49px;
  background-color: #e9e9e9;
  color: #4d4d4d;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.location i {
  font-size: 16.2px;
}
.location .ville {
  color: #4d4d4d;
  font-size: 15.3px;
  font-weight: bolder;
  border: none;
  background-color: #e9e9e9;
  margin-top: 4px;
  margin-left: 15px;
}

/*zone de présentation */
.accroche {
  height: 280px;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 50px 40px 35px;
  letter-spacing: 0.1px;
}
.accroche p {
  margin: 15px -25px 30px 0px;
  font-size: 17.1px;
  color: #4d4d4d;
  letter-spacing: -0.1px;
}
.accroche a {
  padding-left: 22px;
}

/* zone d'explication du fonctionnement du site*/
.rules {
  padding: 45px 20px 50px 20px;
  background-color: white;
}
.rules ul {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 25px;
}
.rules ul li a {
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  padding-top: 8px;
  box-shadow: 0px 5px 15px #dddddd;
  cursor: pointer;
  transition: transform 400ms;
}
.rules ul li a:hover {
  background-color: #f4eefc;
  transform: scale(1.02);
}
.rules ul li a:hover i {
  color: #9356dc;
}
.rules ul span {
  background-color: #9356dc;
  color: white;
  border-radius: 15px;
  margin-right: 3px;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  position: relative;
  left: -15px;
}
.rules ul i {
  color: #7e7e7e;
  text-align: center;
  width: 25px;
  margin-right: 15px;
  transition: color 400ms;
}
.rules ul p {
  font-weight: bold;
  font-size: 15.3px;
}

/* Mise en forme des titres*/
.title {
  font-size: 23px;
}

/* Mise en forme de la zone restaurants*/
.cards {
  margin-top: 20px;
}
.cards a {
  display: block;
  margin-bottom: 5.5%;
}

/* Code responsive*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .rules {
    padding: 65px 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .rules ul {
    width: 50%;
  }

  .title {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards a {
    width: 48%;
  }
  .cards .resto {
    flex-direction: column;
  }
  .cards .resto__descriptif {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cards .resto__heading {
    flex-direction: column;
    /*}*/
  }
}
@media screen and (min-width: 992px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cards a {
    width: 23%;
  }
  .cards .resto {
    flex-direction: column;
  }
  .cards .resto__descriptif {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cards .resto__heading {
    flex-direction: column;
    /*}*/
  }

  .rules {
    padding: 65px 35px;
  }
  .rules ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .rules ul li {
    width: 30%;
    padding-right: 2%;
  }
}
/*Mise en forme des pages de menus*/
.restopic {
  height: 318px;
  overflow: hidden;
}
.restopic img {
  width: 110%;
  position: relative;
  left: -20px;
}

.menus {
  position: relative;
  top: -107px;
  border-radius: 35px 35px 0 0;
  padding: 35px 15px 0px 20px;
  margin-bottom: -45px;
  background-color: #f6f6f6;
}
.menus__nomresto {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  letter-spacing: 0.7px;
}
.menus__nomresto h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25.3px;
  color: #101010;
  font-weight: lighter;
}
.menus__order {
  text-align: center;
  margin-top: 35px;
}
.menus__order input {
  padding: 15px 45px;
}

.menu {
  margin-top: 35px;
}
.menu__category {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.menu__category h3 {
  font-size: 15.3px;
  font-weight: 300;
  padding-bottom: 8px;
  position: relative;
  margin-bottom: 13px;
}
.menu__category h3:after {
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #99e2d0;
}
.menu__sstitlemargin {
  margin-top: 25px;
}
.menu__dish {
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 15px #dddddd;
  cursor: pointer;
  margin: 0px -5px 14px -7px;
  position: relative;
  overflow: hidden;
  animation: menucat 1000ms backwards;
}
.menu__dish--1 {
  animation-delay: 0.3s;
}
.menu__dish--2 {
  animation-delay: 0.6s;
}
.menu__dish--3 {
  animation-delay: 0.9s;
}
.menu__dish--4 {
  animation-delay: 1.2s;
}
.menu__dish--5 {
  animation-delay: 1.5s;
}
.menu__dish--6 {
  animation-delay: 1.8s;
}
.menu__dish--7 {
  animation-delay: 2.1s;
}
.menu__dish--8 {
  animation-delay: 2.4s;
}
.menu__dish--9 {
  animation-delay: 2.7s;
}
.menu__dish--10 {
  animation-delay: 3s;
}
.menu__dish--11 {
  animation-delay: 3.3s;
}
.menu__dish--12 {
  animation-delay: 3.6s;
}
.menu__dishtitle {
  width: 80%;
  padding: 13px 0px 12px 10px;
}
.menu__dishtitle h4 {
  font-size: 17.25px;
  margin-bottom: 1.4%;
}
.menu__dishtitle p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14.4px;
  letter-spacing: -0.1px;
}
.menu__dish .menu__check {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: -55px;
  transition: transform 600ms;
}
.menu__dish .menu__check p {
  font-weight: bold;
  padding: 0px 22px 12px 0px;
  font-size: 13.5px;
}
.menu__dish .menu__selector {
  background-color: #99e2d0;
  padding: 0% 0 20% 0;
  width: 55px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu__dish .menu__selector i {
  color: white;
  font-size: 21.6px;
  transition: transform 600ms;
}
.menu__dish:hover .menu__check {
  transform: translateX(-55px);
}
.menu__dish:hover .menu__dishtitle {
  width: 60%;
}
.menu__dish:hover h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__dish:hover .menu__selector i {
  transform: rotate(360deg);
}

/*Code responsive*/
@media screen and (min-width: 992px) {
  .menus {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu__category {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
