/*Mise en forme flèche retour vers la page d'accueil du header des pages de menus*/

.arrowback {
    position: absolute;
    font-size: $isize * 1.1;
    left: 22px;
    padding-top: 3px;
    &:hover {
        color: $primary;
    }
}
