/*Définition de l'animation du coeur*/
.resto__heart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $policesize1 * 1.1;
    cursor: pointer;
    .fa-solid {
        display: none;
    }
    &:active {
        .fa-regular {
            display: none;
        }
        .fa-solid {
            display: block;
            animation: heart 600ms forwards;
            background: linear-gradient(200deg, $primary 0%, $secondary 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

/*Définition de l'animation du coeur au hover sur le fomat desktop*/
@media screen and (min-width: 992px) {
    .resto__heart {
        &:hover {
            .fa-regular {
                display: none;
            }
            .fa-solid {
                display: inline-block;
                animation: heart 600ms forwards;
                background: linear-gradient(
                    200deg,
                    $primary 0%,
                    $secondary 100%
                );
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
