/*Mise en forme du loader lors du chargement de la page d'accueil du site*/
.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $backgroundcards;
    z-index: 100; /*positionnemment du loader au dessus des éléments de la page*/
    visibility: hidden;
    animation: loader 2000ms;
    &__image {
        position: fixed;
        top: 50%;
        z-index: 101; /*positionnement des logos Ohmyfood animés*/
        animation: loaderlogo 1000ms backwards;
        @for $i from 2 through 13 {
            &--#{$i} {
                transform: scaleY($i);
                animation-delay: 50ms * $i;
            }
        }
    }
    &__logo {
        position: fixed;
        top: 50%;
        z-index: 102; /*positionnement du logo static Ohmyfood au dessus des logos animés*/
    }
}
