@charset "UTF-8";
/*Tailles des polices*/
/*taille de police de base*/
/*taille des titres des cards*/
/*taille de police des titres*/
/*taille police présentation accueil, catégorie plat et nom plats*/
/*taille des icones arrowback,....*/
/*Couleurs des polices*/
/*couleur de police principale*/
/*couleur première de la charte graphique*/
/*couleur secondaire de la charte graphique*/
/*couleur tertiaire de la charte graphique*/
/*couleur de la police des boutons*/
/*couleur de la police des puces numérotées*/
/*couleur du texte du footer*/
/*couleur de police du check des menus*/
/*couleur de police des icones de la zone explicative*/
/*couleur du nom des restos dans les menus*/
/*Polices*/
/*Couleurs des background*/
/*couleur de fond*/
/*couleur de fond des cards*/
/*couleur du background*/
/*dégradé des boutons*/
/*border radius*/
/* angle des coins des boutons */
/* angles des coins des menus */
/* angles des coins des plats dans les menus */
/*Ombres*/
/*ombre des cards, listes page d'accueil...*/
/*@import "./Utils/placeholders";
@import "./Utils/keyframes";*/
* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 18px;
  background-color: #f6f6f6;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 16.1px;
  letter-spacing: 0.8px;
}

article {
  padding: 53px 20px 45px 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  article {
    padding: 70px 35px 50px 35px;
  }
}
/* Mise en forme des cards */
.resto {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 15px #dddddd;
  position: relative;
  transition: transform 400ms;
}
.resto:hover {
  box-shadow: 0px 5px 15px #99e2d0;
  transform: scale(1.02);
}
.resto img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  object-position: left bottom;
}
.resto figure p {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #99e2d0;
  color: #278870;
  font-size: 14.4px;
  padding: 6px 11px;
  border-radius: 2px;
  letter-spacing: -0.5px;
}
.resto__descriptif {
  padding: 3.5% 8% 6% 3.5%;
  display: flex;
  justify-content: space-between;
}
.resto__descriptif p {
  font-size: 17.1px;
  color: #4d4d4d;
  letter-spacing: -0.5px;
  line-height: 14px;
}
.resto h2 {
  font-size: 17.6px;
  margin-bottom: 5px;
  letter-spacing: -0.1px;
}
.resto__heart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19.8px;
  cursor: pointer;
}
.resto__heart .fa-solid {
  display: none;
}
.resto__heart:active .fa-regular {
  display: none;
}
.resto__heart:active .fa-solid {
  display: block;
  animation: heart 3000ms forwards;
}

@media screen and (min-width: 992px) {
  .resto__heart:hover .fa-regular {
    display: none;
  }
  .resto__heart:hover .fa-solid {
    display: inline-block;
    animation: heart 3000ms forwards;
  }
}
/* les boutons principaux */
.button {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 15.3px;
  border: none;
  border-radius: 30px;
  padding: 15px 22px;
  cursor: pointer;
  filter: brightness(1);
  box-shadow: 0px 5px 15px #dddddd;
  transition: filter 400ms ease-in-out, transform 500ms;
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 15px #9356dc;
  transform: scale(1.05);
}

/*@import "./Components/loader";
@import "./Components/arrowback";*/
/*Mise en forme du header*/
header {
  display: flex;
  justify-content: center;
  padding: 20px 25px 0 25px;
  height: 59px;
  background-color: white;
}
header img {
  width: 160px;
}

/*Mise en forme du footer*/
footer {
  background-color: #353535;
  padding: 14px 25px;
  color: white;
  font-size: 15.3px;
}
footer ul {
  list-style-type: none;
  margin: 20px 0px 20px 0px;
}
footer li {
  margin-bottom: 8px;
}
footer li a {
  color: white;
  transition: font-weight 400ms;
}
footer li a:hover {
  font-weight: bold;
}
footer li i {
  display: block;
  width: 20px;
  font-size: 13px;
}

/* Code responsive*/
@media screen and (min-width: 768px) {
  footer {
    display: flex;
  }
  footer h1 {
    margin-right: 5%;
  }
  footer ul {
    display: flex;
    width: 100%;
    margin: 10px 0px;
  }
  footer ul li {
    margin-right: 20px;
  }
}
/**** Mise en forme de la page d'accueil ****/
/*zone accueillant la zone de saisie pour la ville recherchée par l'utilisateur*/
.location {
  height: 49px;
  background-color: #e9e9e9;
  color: #4d4d4d;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.location i {
  font-size: 16.2px;
}
.location .ville {
  color: #4d4d4d;
  font-size: 15.3px;
  font-weight: bolder;
  border: none;
  background-color: #e9e9e9;
  margin-top: 4px;
  margin-left: 15px;
}

/*zone de présentation */
.accroche {
  height: 280px;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 50px 40px 35px;
  letter-spacing: 0.1px;
}
.accroche p {
  margin: 15px -25px 30px 0px;
  font-size: 17.1px;
  color: #4d4d4d;
  letter-spacing: -0.1px;
}
.accroche a {
  padding-left: 22px;
}

/* zone d'explication du fonctionnement du site*/
.rules {
  padding: 45px 20px 50px 20px;
  background-color: white;
}
.rules ul {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 25px;
}
.rules ul li a {
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  padding-top: 8px;
  box-shadow: 0px 5px 15px #dddddd;
  cursor: pointer;
  transition: transform 400ms;
}
.rules ul li a:hover {
  background-color: #f4eefc;
  transform: scale(1.02);
}
.rules ul li a:hover i {
  color: #9356dc;
}
.rules ul span {
  background-color: #9356dc;
  color: white;
  border-radius: 15px;
  margin-right: 3px;
  /*centrer horizontalement et verticalement plusieurs blocs*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  position: relative;
  left: -15px;
}
.rules ul i {
  color: #7e7e7e;
  text-align: center;
  width: 25px;
  margin-right: 15px;
  transition: color 400ms;
}
.rules ul p {
  font-weight: bold;
  font-size: 15.3px;
}

/* Mise en forme des titres*/
.title {
  font-size: 23px;
}

/* Mise en forme de la zone restaurants*/
.cards {
  margin-top: 20px;
}
.cards a {
  display: block;
  margin-bottom: 5.5%;
}

/* Code responsive*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .rules {
    padding: 65px 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .rules ul {
    width: 50%;
  }

  .title {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards a {
    width: 48%;
  }
  .cards .resto {
    flex-direction: column;
  }
  .cards .resto__descriptif {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cards .resto__heading {
    flex-direction: column;
    /*}*/
  }
}
@media screen and (min-width: 992px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cards a {
    width: 23%;
  }
  .cards .resto {
    flex-direction: column;
  }
  .cards .resto__descriptif {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cards .resto__heading {
    flex-direction: column;
    /*}*/
  }

  .rules {
    padding: 65px 35px;
  }
  .rules ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .rules ul li {
    width: 30%;
    padding-right: 2%;
  }
}
/*@import "./Pages/menus";*/

/*# sourceMappingURL=style.css.map */
