/* Définition des animations de la page d'accueil*/

/* Animation du coeur des cards et des menus*/
@keyframes heart {
    0% {
        transform: scale(0.4);
        color: $primary;
        opacity: 20%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
        color: $secondary;
    }
}

/* Animation des logos Ohmyfood animés du loader */
@keyframes loaderlogo {
    0% {
        transform: scaleY(1.1);
    }
    50% {
        transform: scaleY(2);
    }
    100% {
        transform: scaleY(1.1);
    }
}

/* Définition de la visibilité du loader au chargement de la page et disparition une fois celle-ci chargée*/
@keyframes loader {
    0% {
        visibility: visible;
    }
    99% {
        opacity: 0.98;
    }
    100% {
        opacity: 0;
    }
}

/*Animation de l'apparition progressive des plats des pages de menu*/
@keyframes menucat {
    from {
        transform: translatey(20px);
        opacity: 0;
    }
    to {
        transform: translatey(0px);
        opacity: 1;
    }
}
